<!--
  Logback configuration for unit tests

  Logging level ERROR

  Don't log to stdout
-->
<configuration>
    <!-- Appender to a file named based on the application name. -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/unit-tests.log</file>
        <encoder>
            <pattern>%-5level %logger{36} [%d{HH:mm:ss.SSS}][%thread]: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logback_rootLevel:-ERROR}">
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.allenai" level="${logback_s2Level:-DEBUG}" />
</configuration>
